name: Lint CI
on: [push, workflow_dispatch]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: ⚙️ Checkout code
        id: checkout
        uses: actions/checkout@v6

      - name: ✨ Markdownlint CLi2 Action
        if: steps.checkout.outcome == 'success' && !cancelled()
        uses: DavidAnson/markdownlint-cli2-action@v21
        with:
          globs: "**/*.md"
          config: .markdownlint-cli2.jsonc

      - name: ✨ Prettier Action
        if: steps.checkout.outcome == 'success' && !cancelled()
        uses: creyD/prettier_action@v4.6
        with:
          prettier_options: --config .prettierrc --check .
          dry: true

      - name: ✨ PSScriptAnalyzer Action
        if: steps.checkout.outcome == 'success' && !cancelled()
        uses: microsoft/psscriptanalyzer-action@v1.1
        with:
          path: ./src/PSNtfy # module root
          recurse: true
          settings: ./PSScriptAnalyzerSettings.psd1
          enableExit: true
